:root {
    --bg: oklch(0.965 0 0);
    --text: oklch(0.1822 0 0);
    --card-bg: oklch(0.96 0 0);
    --card-header: oklch(0.93 0 0);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: oklch(0.1822 0 0);
    --text: oklch(0.9067 0 0);
    --card-bg: oklch(0.2222 0 0);
    --card-header: oklch(0.2622 0 0);
  }
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  font-size: 1.2rem;
  margin-inline: 20vw;
  max-width: 1600px;
}

a {
  color: var(--text);
  font-weight: bold;
}

a:hover {
  color: color-mix(in oklab, var(--bg), var(--text) 65%);
}

header nav {
  display: flex;
  justify-content: center;
  gap: 15px;
  font-size: 1.5rem;
}

header nav a {
  display: flex;
  gap: 8px;
  align-items: center;
  text-decoration: none;
}

header nav a .nav__text {
  text-decoration: underline;
}

header nav a .nav__arrow {
  visibility: hidden;
  font-size: 1.2rem;
  font-weight: 700;
}

header nav a.nav__active .nav__arrow {
  visibility: visible;
}

header nav a:hover .nav__arrow {
  visibility: visible;
}

header aside {
  line-height: 28px;
}

main {
  --spacing: 20px;
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  padding: var(--spacing) 0;
}

.card {
  background-color: var(--card-bg);
  border-radius: 20px;
  box-shadow: 0px 4px 4px #00000030, 0px 12px 12px #00000015;
}

.card .card__title {
  margin: 0;
  padding: 30px;
  background-color: var(--card-header);
  border-radius: 20px 20px 0 0;
}

.card .card__line,
.card .card__text {
  padding: 0 20px;
}

.card .card__text {
  line-height: 28px;
}

.card .card__title,
.card .card__line {
  font-weight: bold;
}

.card li {
  margin-bottom: 10px;
}
