:root {
  --bg-dark: oklch(0.92 0 20);
  --bg: oklch(0.96 0 20);
  --bg-light: oklch(1 0 20);
  --text: oklch(0.15 0 20);
  --text-muted: oklch(0.4 0 20);
  --highlight: oklch(1 0 20);
  --border: oklch(0.6 0 20);
  --border-muted: oklch(0.7 0 20);
  --primary: oklch(0.4 0.1 20);
  --secondary: oklch(0.4 0.1 244);
  --danger: oklch(0.5 0.05 30);
  --warning: oklch(0.5 0.05 100);
  --success: oklch(0.5 0.05 160);
  --info: oklch(0.5 0.05 260);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-dark: oklch(0.1 0 64);
    --bg: oklch(0.15 0 64);
    --bg-light: oklch(0.2 0 64);
    --text: oklch(0.96 0 64);
    --text-muted: oklch(0.76 0 64);
    --highlight: oklch(0.5 0 64);
    --border: oklch(0.4 0 64);
    --border-muted: oklch(0.3 0 64);
    --primary: oklch(0.68 0.19 47);
    --secondary: oklch(0.68 0.19 227);
    --danger: oklch(0.7 0.05 30);
    --warning: oklch(0.7 0.05 100);
    --success: oklch(0.7 0.05 160);
    --info: oklch(0.7 0.05 260);
  }
}

body {
  background-color: var(--bg-dark);
  color: var(--text);
  font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  font-size: 1.2rem;
  margin-inline: 20vw; /* This works well, but consider settings a max-width on larger viewports, that would also require a change to the margins */
}

a {
  color: var(--primary);
  text-decoration: none;
}

p > a {
  text-decoration: revert;
}

a:hover {
  color: color-mix(in oklab, var(--primary), var(--text) 65%);
}

header nav {
  display: flex;
  justify-content: center;
  gap: 15px;
  font-size: 1.5rem;
}

header nav a {
  display: flex;
  gap: 8px;
  align-items: center;
}

header nav a .nav__arrow {
  visibility: hidden;
  font-size: 1.2rem;
  font-weight: 700;
}

header nav a.nav__active .nav__arrow {
  visibility: visible;
}

header nav a:hover .nav__arrow {
  visibility: visible;
}

header aside {
  line-height: 28px;
}

main {
  --spacing: 20px;
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  padding: var(--spacing) 0;
}

.card {
  background-color: var(--bg);
  border-radius: 20px;
  box-shadow: 0px 4px 4px #00000030, 0px 12px 12px #00000015;
}

.card .card__title {
  margin: 0;
  padding: 30px;
  background-color: var(--bg-light);
  border-radius: 20px 20px 0 0;
}

.card .card__line,
.card .card__text {
  padding: 0 20px;
}

.card .card__text {
  line-height: 28px;
}

.card .card__line {
  color: var(--secondary);
}

.card li {
  margin-bottom: 10px;
}
